﻿@model test.Models.EmployModel
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#name").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Employ/Name",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Name, value: item.Name };
                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });
    })
</script>
<div style="margin-top: 30px;">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label for="name">Фамилия:</label>
            @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="name">Имя:</label>
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @id = "name" })
        </div>
        <div class="form-group">
            <label for="name">Возраст:</label>
            @Html.TextBoxFor(m => m.Age, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="name">Пол:</label>
            @Html.TextBoxFor(m => m.Gender, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="name">Отдел:</label>
            @Html.DropDownListFor(m => m.Department.Id, ViewBag.Departments as SelectList, "---", new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="name">Язык программирования:</label>
            @Html.DropDownListFor(m => m.Language.Id, ViewBag.Languages as SelectList, "---", new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-warning">Сохранить</button>
    }
</div>




