﻿@model test.Models.EmployModel
<div style="margin-top: 30px;">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
        <div class="form-group">
            <label for="name">Фамилия:</label>
            @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="name">Имя:</label>
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="name">Возраст:</label>
            @Html.TextBoxFor(m => m.Age, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="name">Пол:</label>
            @Html.TextBoxFor(m => m.Gender, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="name">Отдел:</label>
            @Html.DropDownListFor(m => m.Department.Id, ViewBag.Departments as SelectList, "---", new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="name">Язык программирования:</label>
            @Html.DropDownListFor(m => m.Language.Id, ViewBag.Languages as SelectList, "---", new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-warning">Сохранить</button>
    }
</div>
