﻿@model List<test.Models.EmployModel>
@{
    ViewBag.Title = "Сотрудники";
}

<body>
    <div style="margin-top: 30px;">
        <div class="bootstrap-table">
            <div class="fixed-table-header" style="display: block;">
                <div id="toolbar">
                    <a href="@Url.Action("Create", "Employ")" class="btn btn-success btn"><span class="glyphicon glyphicon-plus"></span>Добавить</a>
                </div>
                <table data-toggle="table"
                       id="table"
                       data-pagination="true"
                       data-search="true"
                       class="table table-hover"
                       data-toolbar="#toolbar"
                       data-show-export="true"
                       data-show-toggle="true"
                       data-show-pagination-switch="true"
                       data-detail-formatter="detailFormatter"
                       data-page-list="[10, 25, 50, 100, Все]">
                    <thead style="display: table-header-group">
                        <tr>
                            <th data-sortable="true">Фамилия</th>
                            <th data-sortable="true">Имя</th>
                            <th data-sortable="true">Возраст</th>
                            <th data-sortable="true">Пол</th>
                            <th data-sortable="true">Отдел</th>
                            <th data-sortable="true">ЯП</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var v in Model)
                        {
                            <tr>
                                <td>@v.Surname</td>
                                <td>@v.Name</td>
                                <td>@v.Age</td>
                                <td>@v.Gender</td>
                                <td>@v.Department.Name</td>
                                <td>@v.Language.Name</td>
                                <td>
                                    @Html.AntiForgeryToken()
                                    <a href="@Url.Action("Edit","Employ", new { id=v.Id})" class="btn btn-link" title="Редактировать"><span class="glyphicon glyphicon-pencil"></span></a>
                                </td>
                                <td>
                                    <form method="post" action="@Url.Action("Delete","Employ", new { id=v.Id})">
                                        @Html.AntiForgeryToken()
                                        <button class="btn btn-link" type="submit" title="Удалить"><span class="glyphicon glyphicon-trash"></span></button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>